{% extends 'base.html' %}
{% block title %}
Discussions
{% endblock %}

{% block content %}

{% load url_tags %}
{% load humanize %}
<div class="container col-md-12 mt-5 d-flex flex-column justify-content-between card card-bg-light px-5">
  <div class="mt-5">
    <form class="mb-5"
          action="{% url 'forum:list' %}">
      <div class="form-group">
        <label class="text-black-low"
               for="searchTitle">Discussion title</label>
        <input type="text"
               name="search"
               class="form-control"
               id="searchTitle"
               placeholder="Enter discussion title">
        <small id="emailHelp" class="form-text text-muted">Type your title and press button.</small>
      </div>
      <button type="submit"
              class="btn btn-blue text-white text-uppercase">
        Search
      </button>
    </form>
    {% for discussion in discussions %}
    <div class="row d-flex justify-content-center my-2">
      <div class="card mb-8 border border-dark card-bg-dark">
        <div class="d-flex justify-content-between">
          <div class="card-body d-flex align-items-stretch">
            <div class="col-md-1 d-flex justify-content-center align-items-center border-right border-white">
              <i class="far fa-comments"></i>
              <h5 class="ml-1 mb-0">
                {{ discussion.messages_count }}
              </h5>
            </div>
            <div class="ml-4">
              <a class="card-title font-weight-bold text-blue font"
                 href="{% url 'forum:detail' discussion.pk %}">
                {{ discussion.title }}
              </a>
              <p class="card-text h6">
                {{ discussion.description|slice:":60" }}...
              </p>
              <div class="d-flex justify-content-start">
                <p class="card-text mr-3 h6 font-weight-bold text-blue text-center">
                  by {{ discussion.user }}
                </p>
                <p class="card-text mr-3 h6 text-center">
                  created {{ discussion.created_on|naturaltime }}
                </p>
                <p class="card-text h6 text-center">
                  {{ discussion.latest_message_time|naturaltime|default:"no messages yet" }}
                </p>
              </div>
            </div>
          </div>
          {% if discussion.user == user or user.is_superuser %}
          <div class="d-flex flex-column justify-content-between">
            <button type="button" class="btn btn-danger mt-3" data-toggle="modal" data-target="#discussionDelete{{ discussion.id }}">
              Delete
            </button>

            <div class="modal fade" id="discussionDelete{{ discussion.id }}" tabindex="-1" role="dialog"
                 aria-labelledby="discussionDeleteLabeld" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="discussionDeleteLabel">Are you sure?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Are you sure you wanna delete "{{ discussion.title }}" discussion?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{% url 'forum:delete' pk=discussion.pk %}" method="POST">
                      {% csrf_token %}
                      <button type="submit"
                              class="btn btn-danger">
                        Delete
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <form action="{% url 'forum:update' pk=discussion.pk %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-blue mb-3">
                Update
              </button>
            </form>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% empty %}
    <h3 class="text-center">
      No discussions yet.
      {% if user.is_authenticated %}
      <a class="text-white text-uppercase" href="{% url 'forum:create' %}">
        Create new one
      </a>
      {% endif %}
    </h3>
    {% endfor %}
  </div>

  {% block pagination %}
  {% if is_paginated %}
  <div class="my-5 d-flex justify-content-between">
    {% if page_obj.has_previous %}
    <a class="btn btn-blue text-white"
       href="?{% url_replace page=page_obj.previous_page_number %}">
      <i class="fas fa-angle-left"></i>
      Back
    </a>
    {% else %}
    <a class="btn btn-blue text-white disabled"
       href="">
      <i class="fas fa-angle-left"></i>
      Back
    </a>
    {% endif %}
    {% if page_obj.has_next %}
    <a class="btn btn-blue text-white"
       href="?{% url_replace page=page_obj.next_page_number %}">
      <i class="fas fa-angle-right"></i>
      Next
    </a>
    {% else %}
    <a class="btn btn-blue text-white disabled"
       href=""
       disabled>
      <i class="fas fa-angle-right"></i>
      Next
    </a>
    {% endif %}
  </div>
  {% endif %}
  {% endblock %}
</div>
{% endblock %}